.menu{
    margin: 0px auto;
    width: 200px;
    height: 150px;
    background-color: cornflowerblue;
    border-radius: 8px;
    border: 2px solid black;
    transition: 0.5s;
}
.target{
    height: 16px;
    overflow: hidden;
}
li{
  list-style: none;
}